<!doctype html>

<html>
<h1>Algorithm visualiser!</h1>
<p1>Please select an Algorithm via the dropdown.</p1>
<style>
.square {
    height: 50px;
    position: absolute;
    width: 50px;
    outline: 4px solid black;
    background-color:  brown;
}
</style>
<h2></h2>
<script>    
    var width = 16;
    var height = 16;
    var y_counter = 150;

    for(let j = 0; j < height; j++)
    {
        var x_counter = 0;
        for (let i = 0; i < width; i++) 
        {
            // Create element:
            const square_test = document.createElement("div");
            square_test.className = "square";
            square_test.style.left = x_counter + 'px';
            square_test.style.top = y_counter + 'px';
            // Append to body:
            document.body.appendChild(square_test);
            x_counter += 50;
        }
        y_counter += 50;
    }
</script>
</html> 