<!doctype html>

<html>
<h1>Algorithm visualiser!</h1>
<p1>Please select an Algorithm via the dropdown.</p1>
<style>
.squaredirt {
    height: 16px;
    position: absolute;
    width: 16px;
    outline: 0px solid black;
    background-color:  brown;
}
.squaregrass {
    height: 16px;
    position: absolute;
    width: 16px;
    outline: 0px solid black;
    background-color:  green;
}
.squaresky {
    height: 16px;
    position: absolute;
    width: 16px;
    outline: 0px solid black;
    background-color:  aqua;
}
</style>
<h2></h2>
<script>    

    async function get_data() 
    {      
        try 
        {
            console.log("Retrieving data....")
            var res = await fetch("http://127.0.0.1:5000/data");
            let data = await res.json();
            return data;
        }
        catch (error) {
            console.error(`Could not retrieve json body: ${error}`);
        }
    }

    get_data().then(function(result) {
        json_res = result;
        draw_data(json_res);
    });

    function draw_data(json_res)
    {
        var width = json_res['width'];
        var height = json_res['height'];
        var data_str = json_res['data'];

        var y_counter = 150;
        var x_counter = 0;
        var block_size = 16;
        var indx = 0;
        while(indx < data_str.length)
        {
            if(data_str[indx] == '\n')
            {            
                y_counter += block_size;
                x_counter = 0;  
            }
            else // TODO: rewrite this shit
            {
                const square_test = document.createElement("div");
                if(data_str[indx] == '1')
                {
                    square_test.className = "squaregrass";
                }
                else if(data_str[indx] == '0')
                {
                    square_test.className = "squaredirt";
                }
                else
                {
                    square_test.className = "squaresky";
                }

                square_test.style.left = x_counter + 'px';
                square_test.style.top = y_counter + 'px';
                // Append to body:
                document.body.appendChild(square_test);
                x_counter += block_size;
            }
            ++indx;
        }
    }

</script>
</html> 